body { 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background: #f5f3f3; 
    font-family: sans-serif; }

    .calculator { 
        border: 2px solid #242323; 
        padding: 10px; 
        border-radius: 10px; 
        background: #fff; }