body { 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background: #f5f3f3; 
    font-family: sans-serif; 
}

    .calculator { 
        border: 2px solid #242323; 
        padding: 10px; 
        border-radius: 10px; 
        background: #fff; 
    }

     .display { 
        background: #222; 
        color: white; 
        font-size: 2em; 
        padding: 10px; 
        text-align: right; 
        border-radius: 5px; 
        margin-bottom: 10px; 
        min-width: 200px; 
    }

     .buttons { 
        display: grid; 
        grid-template-columns: repeat(4, 50px); 
        gap: 5px; 
    }

     button { 
        font-size: 1.2em; 
        padding: 10px; 
        cursor: pointer; 
        border-radius: 5px; 
    }

    button.operator { 
        background: #ecc771; 
    }

    button.equal { 
        background: #64d3b5; 
    }

    button.clear { 
        background: #423aab; 
        color: white; 
    }